<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- reset -->
    <link rel="stylesheet" href="css/reset.css">

    <!-- Bootstrap -->
    <link rel="stylesheet" href="bootstrap_4/css/bootstrap.min.css"
        integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
    <!-- font-awesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
        integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />

    <!-- Owl -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css"
        integrity="sha512-tS3S5qG0BlhnQROyJXvNjeEM4UpMXHrQfTGmbQ1gKmelCxlSEBUaxhRBj/EFTzpbP4RVSrpEikbmdJobCvhE3g=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.theme.default.min.css"
        integrity="sha512-sMXtMNL1zRzolHYKEujM2AqCLUR9F2C4/05cdbxjjLSRvMQIciEPCQZo++nk7go3BtSuK9kfa/s+a4f4i5pLkw=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <!-- custom -->
    <link rel="stylesheet" href="css/custom.css">
</head>



<body class="trangChiTiet">

    <div class="container">
        <div class="row">
            <!-- Welcome  -->
            <div class="col-md-4 text-left py-4">
                Chào mừng bạn đến với SPARKLE WATCH!
            </div>
            <!-- Logo -->
            <div class="col-md-4 py-4 text-center logo">
                <img class="w-75" src="img/logo 1.png" alt="">
            </div>
            <!-- info user -->
            <div class="col-md-4">
                <div class="row h-100 justify-content-end">
                    <div class=" info-user">
                        <ul class="list-unstyled list-inline text-right h-100 cart-info ">
                            <li class="h-100 form-search">
                                <div class=" text-right search ">
                                    <form action="" class="h-100">
                                        <input type="text" class="w-100 shadow-sm rounded-pill border border-secondary"
                                            name="search" id="" placeholder="Search...">
                                    </form>
                                </div>
                                <a href="" class="alight-center h-100">
                                    <i class="fa-solid fa-magnifying-glass fa-lg"></i>
                                </a>
                            </li>
                            <li class="h-100">
                                <a href="" class="alight-center h-100">
                                    <i class="fa-solid fa-cart-shopping fa-lg"></i>
                                </a>
                            </li>
                            <li class="h-100 info">
                                <a href="" class="alight-center h-100">
                                    <i class="fa-solid fa-user"></i>
                                </a>
                                <div class="user border py-2 shadow-sm ">
                                    <div class="login pl-4 ">
                                        <a href="" class="text-dark"> <i class="fa-solid fa-user pr-2"></i>Đăng Nhập</a>
                                    </div>
                                    <hr>
                                    <div class="dangky pl-4 ">
                                        <a href="" class="text-dark"><i class="fa-solid fa-user-plus pr-2"></i>Đăng
                                            Ký</a>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>


            </div>
        </div>
    </div>
    <div class="nav">
        <div class="container">
            <div class="row justify-content-center">
                <div class="box-menuHeader w-100">
                    <ul class="menuHeader list-unstyled list-inline text-center my-0">
                        <li class="py-4"><a href="">Trang chủ </a></li>
                        <li class="py-4 mainMenu">
                            <a href="" class="d-inline-block">Sản phẩm<i
                                    class="fa-solid fa-chevron-down fa-2xs"></i></a>
                            <ul class="subMenu position-absolute border text-left shadow rounded">
                                <li><a href="" class="decoration-none ">Đồng hồ nam</a></li>
                                <li><a href="" class="decoration-none ">Đồng hồ nữ</a></li>
                                <li><a href="" class="decoration-none ">Sản phẩm giảm giá</a></li>
                                <li><a href="" class="decoration-none ">Sản phẩm nổi bật</a></li>
                            </ul>
                        </li>
                        <li class="py-4"><a href="">Giới thiệu</a></li>
                        <li class="py-4"><a href="">Tin tức</a></li>
                        <li class="py-4"><a href="">Liên hệ</a></li>
                    </ul>
                </div>

            </div>
        </div>
    </div>
    <div class="slide-show">
        <div class="container">
            <div class="row bread-crumb py-5">
                <div class="col-md-12 title text-center">
                    Đồng hồ dress
                </div>
                <div class="col-md-12 text-center duongdan">
                    <a href="" class="text-decoration-none">Trang chủ</a>/
                    <a href="" class="text-decoration-none">Đồng hồ nam</a>/
                    <div class="d-inline-block">Đồng Hồ dress</div>
                </div>
            </div>
        </div>
    </div>
    <div class="container my-5">
        <div class="row">
            <div class="col-md-5">
                <div class="row">
                    <div class="col-md-12 text-center border">
                        <a href="" class="main-img">
                            <img class=" " style="width: 60%;" src="img/product/pro-1.webp" alt="">
                        </a>
                    </div>
                    <div class="col-md-3 mt-3">
                        <a href="" class="d-block border text-center sub-img"><img class="w-75 4"
                                src="img/product/pro-1.webp" alt=""></a>
                    </div>
                    <div class="col-md-3 mt-3">
                        <a href="" class="d-block border text-center sub-img"><img class="w-75 3"
                                src="img/product/pro-1.webp" alt=""></a>
                    </div>
                    <div class="col-md-3 mt-3">
                        <a href="" class="d-block border text-center sub-img"><img class="w-75 2"
                                src="img/product/pro-1.webp" alt=""></a>
                    </div>
                    <div class="col-md-3 mt-3">
                        <a href="" class="d-block border text-center sub-img"><img class="w-75 1"
                                src="img/product/pro-1.webp" alt=""></a>
                    </div>
                </div>
            </div>
            <div class="col-md-7 info-chitet-product">
                <div class="header-product">
                    ĐỒNG HỒ DRESS
                </div>
                <div class="price">
                    14.000.000₫
                </div>
                <div class="status">
                    Trạng thái: <span>Còn hàng</span>
                </div>
                <div class="mota">
                    Đồng hồ đeo tay nam dần trở thành xu hướng cho phái mạnh. Thật sự cách biệt khi so sánh 1 người đeo
                    đồng hồ và 1 người không đeo đồng hồ bởi sự sang trọng, lịch lãm, cuốn hút...
                </div>
                <div class="size">
                    <form action="">
                        <div class="name">
                            Kích thước
                        </div>
                        <div class="watch-emlement d-inline-block">
                            <input type="radio" class="size-data" name="size" id="watch-40mm" checked>
                            <label class=" border px-2 choose" for="watch-40mm">40MM</label>
                        </div>
                        <div class="watch-emlement d-inline-block">
                            <input type="radio" class="size-data" name="size" id="watch-42mm">
                            <label class=" border px-2 choose" for="watch-42mm">42MM</label>
                        </div>
                        <div class="watch-emlement d-inline-block">
                            <input type="radio" class="size-data" name="size" id="watch-44mm">
                            <label class=" border px-2 choose" for="watch-44mm">44MM</label>
                        </div>

                        <div class="color">
                            <div class="color-name">
                                Màu sắc
                            </div>
                            <div class="watch-emlement d-inline-block">
                                <input type="radio" class="color-data" name="color" id="color-nau" value="nau" checked>
                                <label class=" border px-2 choose-color" for="color-nau">
                                    <i class="fa-solid fa-check"></i>
                                    <div class="note">
                                        Nâu
                                    </div>
                                </label>
                            </div>
                            <div class="watch-emlement d-inline-block">
                                <input type="radio" class="color-data" name="color" id="color-xam" value="xam">
                                <label class=" border px-2 choose-color" for="color-xam">
                                    <i class="fa-solid fa-check"></i>
                                    <div class="note">
                                        Xám
                                    </div>
                                </label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-5">
                                <div class="soluong">
                                    <div class="name-sl">
                                        Số lượng
                                    </div>
                                    <div class="minus border btn math">
                                        <i class="fa-solid fa-minus" value="minus"></i>
                                    </div>

                                    <input type="number" class="border sl" value="1" min="1" max="10">

                                    <div class="plus border btn math">
                                        <i class="fa-solid fa-plus" value="plus"></i>
                                    </div>
                                </div>
                            </div>
                            <div class="col-6">
                                <button class="btn w-75 h-100" name="submit-form">
                                    Thêm vào giỏ hàng
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="container" style="margin-top: 100px;">
            <div class="row product-tab">
                <div class="col-12 tabs-title">
                    <div class="d-inline-block  info-detail " id="choosed">Mô tả</div>
                    <div class="d-inline-block  info-detail">Đánh giá</div>
                </div>

                <div class="col-12 infomation-detail table-infomation">
                    <div class="border p-4">
                        <p> Đồng hồ đeo tay nam dần trở thành xu hướng cho phái mạnh. Thật sự cách biệt khi so sánh 1
                            người đeo đồng hồ và 1 người không đeo đồng hồ bởi sự sang trọng, lịch lãm, cuốn hút mà
                            chúng mang lại. Tuy nhiên, để chọn được một chiếc đồng hồ phù hợp không hề dễ dàng. Việc đeo
                            đồng hồ không phù hợp có thể làm anh em trông khá phản cảm thậm chí là chọn nhầm một chiếc
                            đồng hồ fake, kém chất lượng. Bài viết sau đây là chia sẻ của ShopWatch về cách chọn đồng hồ
                            đeo tay nam đẹp, phù hợp.</p>
                        <table class="table table-bordered">
                            <tr>
                                <td>
                                    THƯƠNG HIỆU:
                                </td>
                                <td>
                                    Enicar
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    MÃ SẢN PHẨM:
                                </td>
                                <td>
                                    3168/50/351AA

                                </td>
                            </tr>
                            <tr>
                                <td>
                                    GIỚI TÍNH:
                                </td>
                                <td>
                                    Nam
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    XUẤT XỨ:
                                </td>
                                <td>
                                    Thụy Sĩ
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    LOẠI ĐỒNG HỒ:
                                </td>
                                <td>
                                    Đồng hồ cơ
                                </td>
                            </tr>
                        </table>
                        <p>Trong quá trình sử dụng, nếu phát hiện bất kỳ hiện tượng không bình thường, Quý khách cần
                            liên hệ hoặc mang đồng hồ đến ngay các Trung tâm kỹ thuật và bảo hành của Công ty để được tư
                            vấn và kiểm tra.

                            Phạm vi bảo hành đồng hồ bao gồm các lỗi kỹ thuật về máy ( như đồng hồ không chạy, chạy
                            không chính xác), độ chịu nước và pin đồng hồ. Các trường hợp không bảo hành đồng hồ gồm các
                            lỗi về vỏ và dây của đồng hồ; các lỗi rơi vỡ, va đập làm xước kính trong quá trình khách
                            hàng sử dụng gây nên; dây da gặp vấn đề; không bảo hành cho trường hợp điều chỉnh, sử dụng
                            không đúng cách của người dùng; không bảo hành cho đồng hồ đã sửa chữa tại những nơi không
                            phải là trung tâm bảo hành của công ty.</p>
                    </div>
                </div>
                <div class="col-12 box-comment">
                    <form action="">
                        <textarea name="comment" id="" rows="5" class="w-100 border"></textarea>
                        <input type="hidden" name="">
                        <button class="btn btn-comment">
                            Gửi
                        </button>
                    </form>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row list-product">
                <div class="col-12 ">
                    
                </div>
                <div class="row product new-product">
                    <div class="col-md-3 my-3 ">
                        <div class="box-product">
                            <div class="product-thumbnail">
                                <a href=""><img class="w-100" src="img/product/pro-1.webp" alt=""></a>
                            </div>
                            <div class="info-product">
                                <div class="product-name d-block text-center py-2">
                                    <a href="" class=""> Đồng hồ dress</a>
                                </div>
                                <div class="product-price d-block">
                                    <div class="special-price text-center text-secondary pb-3">
                                        14.000.000₫
                                    </div>
                                </div>
                                <div class="view-cart text-center">
                                    <a href="" class="d-inline-block">
                                        <div class="view border rounded-circle">
                                            <i class="fa-solid fa-eye"></i>
                                        </div>
                                    </a>
                                    <a href="" class="d-inline-block">
                                        <div class="cart border rounded-circle">
                                            <i class="fa-solid fa-cart-shopping"></i>
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 my-3">
                        <div class="box-product">
                            <div class="product-thumbnail">
                                <a href=""><img class="w-100" src="img/product/pro-1.webp" alt=""></a>
                            </div>
                            <div class="info-product">
                                <div class="product-name d-block text-center py-2">
                                    <a href="" class=""> Đồng hồ dress</a>
                                </div>
                                <div class="product-price d-block">
                                    <div class="special-price text-center text-secondary pb-3">
                                        14.000.000₫
                                    </div>
                                </div>
                                <div class="view-cart text-center">
                                    <a href="" class="d-inline-block">
                                        <div class="view border rounded-circle">
                                            <i class="fa-solid fa-eye"></i>
                                        </div>
                                    </a>
                                    <a href="" class="d-inline-block">
                                        <div class="cart border rounded-circle">
                                            <i class="fa-solid fa-cart-shopping"></i>
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 my-3">
                        <div class="box-product">
                            <div class="product-thumbnail">
                                <a href=""><img class="w-100" src="img/product/pro-1.webp" alt=""></a>
                            </div>
                            <div class="info-product">
                                <div class="product-name d-block text-center py-2">
                                    <a href="" class=""> Đồng hồ dress</a>
                                </div>
                                <div class="product-price d-block">
                                    <div class="special-price text-center text-secondary pb-3">
                                        14.000.000₫
                                    </div>
                                </div>
                                <div class="view-cart text-center">
                                    <a href="" class="d-inline-block">
                                        <div class="view border rounded-circle">
                                            <i class="fa-solid fa-eye"></i>
                                        </div>
                                    </a>
                                    <a href="" class="d-inline-block">
                                        <div class="cart border rounded-circle">
                                            <i class="fa-solid fa-cart-shopping"></i>
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 my-3">
                        <div class="box-product">
                            <div class="product-thumbnail">
                                <a href=""><img class="w-100" src="img/product/pro-1.webp" alt=""></a>
                            </div>
                            <div class="info-product">
                                <div class="product-name d-block text-center py-2">
                                    <a href="" class=""> Đồng hồ dress</a>
                                </div>
                                <div class="product-price d-block">
                                    <div class="special-price text-center text-secondary pb-3">
                                        14.000.000₫
                                    </div>
                                </div>
                                <div class="view-cart text-center">
                                    <a href="" class="d-inline-block">
                                        <div class="view border rounded-circle">
                                            <i class="fa-solid fa-eye"></i>
                                        </div>
                                    </a>
                                    <a href="" class="d-inline-block">
                                        <div class="cart border rounded-circle">
                                            <i class="fa-solid fa-cart-shopping"></i>
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <footer>
        <div class="container">
            <div class="row top-footer mb-5">
                <div class="col-md-4 top-left text-center">
                    <div class="img-ft">
                        <img class="w-100" src="img/logo_1-removebg-preview (1).png" alt="">
                    </div>
                </div>
                <div class="col-md-7 top-right">
                    <p class="text-light">Ngành công nghiệp đồng hồ đeo tay phát triển cùng với sự phát triển mạnh mẽ của khoa học kỹ thuật. Những chiếc đồng hồ điện tử, đồng hồ năng lượng mặt trời được cải tiến liên tục cùng với mức giá bình dân</p>
                </div> 
            </div>
            <div class="row bt-footer">
                <div class="col-md-3">
                    <div class=" header">
                        Tp.Hà Nội
                    </div>
                    <div class="text-light">
                        Số 78 Vũ Phạm Hàm,Yên Hòa, Cầu Giấy
                    </div>
                </div>
                <div class="col-md-3">
                    <div class=" header">
                        Tp.Đà Nẵng
                    </div>
                    <div class="text-light">
                        Số 172 Nguyễn Văn Linh, Vĩnh Trung,Thanh Khê
                    </div>
                </div>
                <div class="col-md-3">
                    <div class=" header">
                        Tp.Nha Trang
                    </div>
                    <div class="text-light">
                        Số 15 Hai Bà Trưng, Phường Xương Huân
                    </div>
                </div>
                <div class="col-md-3">
                    <div class=" header">
                        Tp.Hồ Chí Minh
                    </div>
                    <div class="text-light">
                        Số 15/7 Tô Ký, Quận 12,HCM
                    </div>
                </div> 
            </div>
        </div>      
    </footer>













    <!-- Bootstrap -->
    <script src="js/jquery-3.7.1.min.js"></script>
    <script src="bootstrap_4/js/bootstrap.bundle.min.js"
        integrity="sha384-Fy6S3B9q64WdZWQUiU+q4/2Lc9npb8tCaSX9FK7E8HnRr0Jz8D6OP9dO5Vg3Q9ct"
        crossorigin="anonymous"></script>

    <!-- Owl -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"
        integrity="sha512-bPs7Ae6pVvhOSiIcyUClR7/q2OAsRiovw4vAkX+zJbw3ShAeeqezq50RIIcIURq7Oa20rW2n2q+fyXBNcU9lrw=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>

    <script src="js/main.js">

        // console.log(next);
    </script>
</body>

</html>