<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- reset -->
    <link rel="stylesheet" href="css/reset.css">

    <!-- Bootstrap -->
    <link rel="stylesheet" href="bootstrap_4/css/bootstrap.min.css"
        integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
    <!-- font-awesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
        integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />

    <!-- Owl -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css"
        integrity="sha512-tS3S5qG0BlhnQROyJXvNjeEM4UpMXHrQfTGmbQ1gKmelCxlSEBUaxhRBj/EFTzpbP4RVSrpEikbmdJobCvhE3g=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.theme.default.min.css"
        integrity="sha512-sMXtMNL1zRzolHYKEujM2AqCLUR9F2C4/05cdbxjjLSRvMQIciEPCQZo++nk7go3BtSuK9kfa/s+a4f4i5pLkw=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <!-- custom -->
    <link rel="stylesheet" href="css/custom.css">
</head>



<body>

    <div class="container">
        <div class="row">
            <!-- Welcome  -->
            <div class="col-md-4 text-left py-4">
                Chào mừng bạn đến với Tama Watch!
            </div>
            <!-- Logo -->
            <div class="col-md-4 py-4 text-center logo">
                <img class="w-75" src="img/logo 1.png" alt="">
            </div>
            <!-- info user -->
            <div class="col-md-4">
                <div class="row h-100 justify-content-end">
                    <div class=" info-user">
                        <ul class="list-unstyled list-inline text-right h-100 cart-info ">
                            <li class="h-100 form-search">
                                <div class=" text-right search ">
                                    <form action="" class="h-100">
                                        <input type="text" class="w-100 shadow-sm rounded-pill border border-secondary"
                                            name="search" id="" placeholder="Search...">
                                    </form>
                                </div>
                                <a href="" class="alight-center h-100">
                                    <i class="fa-solid fa-magnifying-glass fa-lg"></i>
                                </a>
                            </li>
                            <li class="h-100">
                                <a href="" class="alight-center h-100">
                                    <i class="fa-solid fa-cart-shopping fa-lg"></i>
                                </a>
                            </li>
                            <li class="h-100 info">
                                <a href="login.html" class="alight-center h-100">
                                    <i class="fa-solid fa-user"></i>
                                </a>
                                <!-- <div class="user border py-2 shadow-sm ">
                                    <div class="login pl-4 ">
                                        <a href="login.html" class="text-dark"> <i class="fa-solid fa-user pr-2"></i>Đăng Nhập</a>
                                    </div>
                                    <hr>
                                    <div class="dangky pl-4 ">
                                        <a href="" class="text-dark"><i class="fa-solid fa-user-plus pr-2"></i>Đăng
                                            Ký</a>
                                    </div> -->
                    </div>
                    </li>
                    </ul>
                </div>
            </div>


        </div>
    </div>
    </div>
    <div class="nav">
        <div class="container">
            <div class="row justify-content-center">
                <div class="box-menuHeader w-100">
                    <ul class="menuHeader list-unstyled list-inline text-center my-0">
                        <li class="py-4"><a href="index.html">Trang chủ </a></li>
                        <li class="py-4 mainMenu">
                            <a href="" class="d-inline-block">Sản phẩm<i
                                    class="fa-solid fa-chevron-down fa-2xs"></i></a>
                            <ul class="subMenu position-absolute border text-left shadow rounded">
                                <li><a href="" class="decoration-none ">Đồng hồ nam</a></li>
                                <li><a href="" class="decoration-none ">Đồng hồ nữ</a></li>
                                <li><a href="" class="decoration-none ">Sản phẩm giảm giá</a></li>
                                <li><a href="" class="decoration-none ">Sản phẩm nổi bật</a></li>
                            </ul>
                        </li>
                        <li class="py-4"><a href="">Giới thiệu</a></li>
                        <li class="py-4"><a href="">Tin tức</a></li>
                        <li class="py-4"><a href="">Liên hệ</a></li>
                    </ul>
                </div>

            </div>
        </div>
    </div>
    <style>
        h2 {
            color: #DDC35F;
            margin-bottom: 20px;
        }

        form {
            text-align: left;
        }

        label {
            display: block;
            margin-bottom: 5px;
            color: #555;
        }

        input[type="text"],
        input[type="email"],
        input[type="password"],
        input[type="tel"] {
            width: 100%;
            padding: 10px;
            border: 1px solid #ccc;
            border-radius: 5px;
            margin-bottom: 10px;
        }

        input[type="submit"] {
            background-color: #DDC35F;
            color: #fff;
            padding: 10px 20px;
            border: none;
            border-radius: 5px;
            cursor: pointer;
            transition: background-color 0.3s ease-in-out;
        }

        input[type="submit"]:hover {
            background-color: #DDC35F;
        }
    </style>
    </head>

    <body>
        <div class="container">
            <div class="row">
                <div class="col-6">
                    <h2>Thông tin liên hệ</h2>
                    <form action="index.php?trang=dk" method="post">
                        <label for="">Nhập Tên: </label> <input name="ten" id="ten" value="" type="text"> <br>
                        <label for="so_dien_thoai">Số điện thoại:</label>
                        <input type="tel" id="so_dien_thoai" name="phone" required><br>
                        <label for="email">Email:</label>
                        <input type="email" id="email" name="mail" required><br>
                        <label for="">Nhập nội dung : </label> <input style="height: 100px;" value=""
                            type="text"><br><br>
                        <input type="submit" name="them_user" value="Gửi liên hệ" onclick="return kiemtra()">
                    </form>
                </div>
                <div class="col-6">
                    <ul style="padding-top: 90px;" class="list-unstyled">
                        <li class="my-5">
                            <div class="diachi">
                                <div class="row align-items-center">
                                    <div class="col-2 no-gutters text-center ">
                                        <i class="fa-solid fa-location-dot d-inline-block text-light aligh-center text-center rounded-circle "
                                            style="width: 40px; height: 40px; box-sizing: border-box; padding: 12px 0; background-color: #DDC35F;"></i>
                                    </div>
                                    <div class="col-md-10 " style="padding: 0;">
                                        <div class="row">
                                            <div class="col-12 h6 text-secondary">
                                                Địa chỉ liên hệ
                                            </div>
                                            <div class="col-12 text-secondary">
                                                Ladeco Building, 266 Doi Can Street, Ba Dinh District, Hà Nội,
                                            </div>
                                        </div>
                                    </div>
                                </div>


                            </div>
                        </li>
                        <li class="my-5">
                            <div class="diachi">
                                <div class="row align-items-center">
                                    <div class="col-2 no-gutters text-center ">
                                        <i class="fa-solid fa-phone d-inline-block text-light aligh-center text-center rounded-circle "
                                            style="width: 40px; height: 40px; box-sizing: border-box; padding: 12px 0; background-color: #DDC35F;"></i>
                                    </div>
                                    <div class="col-md-10 " style="padding: 0;">
                                        <div class="row">
                                            <div class="col-12 h6 text-secondary">
                                                Số điện thoại
                                            </div>
                                            <div class="col-12 h6 text-secondary text-decoration-none">
                                                <a href="">0123456789</a>
                                            </div>
                                            <div class="col-12 text-secondary">
                                                Thứ 2 - Chủ nhật: 9:00 - 18:00
                                            </div>
                                        </div>
                                    </div>
                                </div>


                            </div>
                        </li>
                        <li class="my-5">
                            <div class="diachi">
                                <div class="row align-items-center">
                                    <div class="col-2 no-gutters text-center ">
                                        <i class="fa-solid fa-envelope d-inline-block text-light aligh-center text-center rounded-circle "
                                            style="width: 40px; height: 40px; box-sizing: border-box; padding: 12px 0; background-color: #DDC35F;"></i>
                                    </div>
                                    <div class="col-md-10 " style="padding: 0;">
                                        <div class="row">
                                            <div class="col-12 h6 text-secondary">
                                                Email
                                            </div>
                                            <div class="col-12 text-secondary">
                                                <a href="">support@sapo.vn</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>


                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="container" style="padding-top: 40px;">
            <div class="map">
                <iframe src="https://www.google.com/maps/d/u/0/embed?mid=11JaGdf5-L21BTFTe5oUBrO67ewcP5T4&ehbc=2E312"
                    width="100%" height="580"></iframe>
            </div>
        </div>
        <div class="container-fluid" style="background-color: #DDC35F; display: flex; gap: 50px;">
        </div>
        <footer>
            <div class="container">
                <div class="row top-footer mb-5">
                    <div class="col-md-4 top-left text-center">
                        <div class="img-ft">
                            <img class="w-100" src="img/logo_1-removebg-preview (1).png" alt="">
                        </div>
                    </div>
                    <div class="col-md-7 top-right">
                        <p class="text-light">Ngành công nghiệp đồng hồ đeo tay phát triển cùng với sự phát triển mạnh
                            mẽ của khoa học kỹ thuật. Những chiếc đồng hồ điện tử, đồng hồ năng lượng mặt trời được cải
                            tiến liên tục cùng với mức giá bình dân</p>
                    </div>
                </div>
                <div class="row bt-footer">
                    <div class="col-md-3">
                        <div class=" header">
                            Tp.Hà Nội
                        </div>
                        <div class="text-light">
                            Số 78 Vũ Phạm Hàm,Yên Hòa, Cầu Giấy
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class=" header">
                            Tp.Đà Nẵng
                        </div>
                        <div class="text-light">
                            Số 172 Nguyễn Văn Linh, Vĩnh Trung,Thanh Khê
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class=" header">
                            Tp.Nha Trang
                        </div>
                        <div class="text-light">
                            Số 15 Hai Bà Trưng, Phường Xương Huân
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class=" header">
                            Tp.Hồ Chí Minh
                        </div>
                        <div class="text-light">
                            Số 15/7 Tô Ký, Quận 12,HCM
                        </div>
                    </div>
                </div>
            </div>
        </footer>














        <!-- Bootstrap -->
        <script src="js/jquery-3.7.1.min.js"></script>
        <script src="bootstrap_4/js/bootstrap.bundle.min.js"
            integrity="sha384-Fy6S3B9q64WdZWQUiU+q4/2Lc9npb8tCaSX9FK7E8HnRr0Jz8D6OP9dO5Vg3Q9ct"
            crossorigin="anonymous"></script>

        <!-- Owl -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"
            integrity="sha512-bPs7Ae6pVvhOSiIcyUClR7/q2OAsRiovw4vAkX+zJbw3ShAeeqezq50RIIcIURq7Oa20rW2n2q+fyXBNcU9lrw=="
            crossorigin="anonymous" referrerpolicy="no-referrer"></script>

        <script src="js/main.js">

            // console.log(next);
        </script>
    </body>

</html>